Repository ThatSealgair/thatsealgair.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, stylelint

prettier:
  run: bunx prettier --write {staged_files}

stylelint:
  allow_failure: true
  run: bunx stylelint --fix {staged_files}

chore: updated packages and development config
  .lefthook.yml
  .stylelintrc.json
  bun.lockb
  package.json
  src/styles/global.css
  typos.toml
Due: prettier, stylelint

Kanagawa Dragon/Lotus for dark/light themes
  .stylelintrc.json
  package.json
  src/styles/global.css
  tailwind.config.mjs
Due: prettier, stylelint

content: updated config.ts for adding playbooks
  src/content/config.ts
Due: prettier

Updated consts.ts and config.ts for playbooks
  commit.md
  src/consts.ts
  src/content/config.ts
  src/types.ts
Due: prettier

Fixed formatting of src/consts
  src/consts.ts
Due: prettier

Fixing Astro errors
  src/components/ArrowCard.astro
  src/components/Header.astro
  src/pages/playbooks/blue-team/[...slug].astro
  src/pages/playbooks/blue-team/_index.md
  src/pages/playbooks/blue-team/index.astro
  src/pages/playbooks/devops/[...slug].astro
  src/pages/playbooks/devops/_index.md
  src/pages/playbooks/devops/index.astro
  src/pages/playbooks/electronics/[...slug].astro
  src/pages/playbooks/electronics/index.astro
  src/pages/playbooks/index.astro
  src/pages/playbooks/red-team/[...slug].astro
  src/pages/playbooks/red-team/index.astro
  src/pages/playbooks/software-development/[...slug].astro
  src/pages/playbooks/software-development/index.astro
  src/types.ts
Due: prettier

Make nix flakes for managing packages and reproducing environments
  .gitignore
  bun.lockb
  flake.nix
  package.json
Due: prettier

Added documentation
  README.md
  flake.lock
  flake.nix
Due: prettier

Updated deploy logic to utilise Nix Flakes
  .github/workflows/deploy.yml
  CNAME
  flake.nix
Due: none

Fixed typo in GitHub actions deploy
  .github/workflows/deploy.yml
Due: none

Fixed Nix flake and github actions config
  .github/workflows/deploy.yml
  flake.nix
Due: none

Updated more Nix configuration to work with Bun and typescript
  CNAME
  bun.lock
  bun.lockb
  bun.nix
  default.nix
  flake.nix
  package.json
Due: prettier

Made final working edits and updated README
  README.md
  default.nix
  flake.lock
Due: prettier

Updated GitHub Actions deploy to use max threads to speed up deployment
  .github/workflows/deploy.yml
Due: none

Updated GitHub actions workflow to use correct file directory
  .github/workflows/deploy.yml
Due: none

Using bun to build and deploy rather than Nix as it is causing too many issues.
  .github/workflows/deploy.yml
Due: none

Updated README to be more useful in the future
  README.md
Due: prettier

Updated roles and responsibilities at AUSCERT
  src/content/work/auscert.mdx
Due: none

Updated home page intro.
  src/pages/index.astro
Due: prettier

Added contact email
  src/consts.ts
Due: prettier

Updated styling of website
  astro.config.mjs
  src/styles/global.css
  tailwind.config.mjs
Due: prettier, stylelint

Updated packages
  bun.lock
  bun.nix
  package.json
Due: prettier

Path conditions:
  prettier: any of: *.{ts,tsx,js,jsx,css,scss,json,md,astro}
  stylelint: any of: *.{css,scss}
